html {
    height: 100vh;
}

body {
    /* sizing */
    min-height: 100vh;
    margin: 0 auto;
    /*overflow: hidden;*/
    /* font */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #211437;
    /* background color */
    background: #1FA2FF;
    background: -webkit-linear-gradient(to bottom, #AAEBFF, #ffffff);
    background: linear-gradient(to bottom, #AAEBFF, #ffffff);
}

.index-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 0 0 0;
}

.index-container--top {
    padding: 15px;
}

.index-header--container {
    display: flex;
    justify-content: space-between;
}

.index-title--container {
    align-self: flex-end;
}

.index-title--text {
    font-size: 32px;
    font-variant: small-caps;
    font-weight: 900;
}

.index-links--container {
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0;
}

.index-links--text {
    align-self: flex-end;
    margin: 0 20px 0 20px;
}

.index-main--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-center--container {
    margin: 25vh 0 0 0;
}

.index-center--title {
    font-variant: small-caps;
    font-weight: 900;
    font-size: 72px;
}

.index-center--button-container {
    display: flex;
    flex-direction: row;
}

.index-center--button {
    background: #1FA2FF;
    padding: 20px 60px 20px 60px;
    margin: 60px 20px 0 0;
    border-radius: 5px;
    color: white;
}

.index-center--button.left {
    background: #211437;
}

.index-center--button.right {
    background: #00C397;
}

.index-container--bottom {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
}

.landscape--forest {
    height: 200px;
    margin-left: 100px;
}

.landscape--park {
    height: 200px;
    margin-right: 100px;
}