html {
    height: 100%;
}

body {
    /* sizing */
    height: 100%;
    padding: 15px;
    overflow: hidden;
    /* font */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* background color */
    background: #1FA2FF;
    background: -webkit-linear-gradient(to bottom, #AAEBFF, #ffffff);
    background: linear-gradient(to bottom, #AAEBFF, #ffffff);

}

.index-container {
    display: flex;
    flex-direction: column;
}

.index-header--container {
    display: flex;
    justify-content: space-between;
}

.index-title--container {
    align-self: flex-end;
}

.index-title--text {
    font-size: 32px;
    font-variant: small-caps;
    font-weight: 900;
}

.index-links--container {
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0;
}

.index-links--text {
    align-self: flex-end;
    margin: 0 20px 0 20px;
}

.index-main--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-center--container {
    margin: 25vh 0 0 0;
}

.index-center--title {
    font-variant: small-caps;
    font-weight: 900;
    font-size: 48px;
}