<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ENGL080</title>
    <!-- Styling -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
  </head>
  <body>
  	<div class="index-container">
  		<!-- Header -->
  		<div class="index-header--container">
        <!-- Title -->
  			<div class="index-title--container">
	  			<div class="index-title--text">
		  			Disinformation
		  		</div>
	  		</div>
        <!-- Links -->
        <div class="index-links--container">
          <div class="index-links--text">
            About
          </div>
          <div class="index-links--text">
            Play
          </div>
        </div>
		  </div>
      <!-- Main -->
      <div class="index-main--container">
        <div class="index-center--container">
          <div class="index-center--title">Disinformation</div>
          <div class="index-center--subtitle"></div>
        </div>
      </div>
  	</div>
  </body>
</html>